@charset "UTF-8";
/* CSS Document */

*{box-sizing:border-box }
	body		{
				background-color: azure;
				}
	#container	{width: 1020px;
 				margin: 0; auto;
				}
		header {
				background-image:url("assets/images/books.jpg");
				background-repeat: no-repeat, repeat;
				width:100% ;
				height:100px ;
				padding-top: 0
					px;
				}
		nav 	{	
				background-color:green ;
				width:100%;
				height:35px ;
				margin-top: 14px;
				padding: 0px;
				}
		.scifi	{
  				background-color:rgba(001,220,169,.5);
				width: 330px;
				height:400px;
				float: left;
				padding: 10 15;
				margin-right: 15px;
				}
		#novels	{
  				background-color:rgba(132,212,180,0.20);
				width: 330px;
				height:400px;
				float: left;
				padding: 10 15;
				}
		#text	{
  				background-color:hsla(21,85%,46%,0.20);
				width: 330px;
				height:400px;
 				float: left;
				margin-left: 15px;
				padding: 10 15;
				}
		#art1	{padding:10px 15px;
				}
		footer {	
				background-color:green ;
				width:100%;
				height:35px ;
				padding: 0px;
				clear: both;
				}
			h1	{color: blue;
				font-size: 48pt;
				text-align: center;
				
				}
			}
